<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="./emojify.min.js"></script>
  <link rel="stylesheet" href="./emojify.min.css">
  <script type="text/javascript" src="./marked.js"></script>
  <link rel="stylesheet" href="./github-markdown.css">
  <script>
  function insert(html) {
    marked.setOptions({
      gfm: true,
      tables: true,
      breaks: true
    });
    document.getElementById('content').innerHTML = marked(html);
    emojify.setConfig({img_dir: 'https://github.global.ssl.fastly.net/images/icons/emoji/' });
    emojify.run(document.getElementById('content'));
  }
  </script>
</head>

<body>
  <article class="markdown-body">
    <div id="content" />
  </article>
</body>

</html>
